@use '../../styles/sizes' as s;

body {
  box-sizing: border-box;
  background-color: var(--grey-f);

  
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 0;
  width: 100%;
} 

#root {
  width: 100%;
}
