    @use '../../styles/sizes' as s;
    @use '../../styles/fonts' as f;
    @use '../../styles/snippets';

    .page {
        min-height: 100dvh;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        background-color: var(--grey-8);


        * {
            background-color: var(--grey-e);
            color: var(--grey-0);
            padding: s.$gap;
        }

        &__tools {
            display: flex;
            justify-content: space-between;
            float: none;
            padding: 0;
            
            * {
                padding: 0;
                padding-inline: .5rem;
                margin: 0;
            }
        }

        &__header {
            display: flex;
            flex-direction: column;
        }

        &__image {
            width: 100%;
            height: auto
        }

        &__desc {
            font-size: 1.5rem;
            font-weight: 500;
        }

        &__text {
            text-align: justify;
            font-size: 1.1rem;
        }
    }

    @media only screen and (min-width: 821px) {
        .page {
            &__header {
                display: flex;
                flex-direction: row;
            }

            &__imageContainer {
                width: 100%;
                display: flex;
            }

            &__image {
                width: 100%;
                margin: auto 0;
            }

            &__desc {
                @include snippets.startEnd(1, 3);
                grid-row-start: 2;
                font-style: oblique;
            }

            &__text {
                column-count: 3;
                gap: 2.5rem;
            }

            &__tools {
                float: right;
            }
        } 
    }
